body {
	background-color: #505050;
	padding-left: 100px;
	padding-right: 100px;
}

.boxes
{
	background-color: #909090;
	border: 10px solid #909090;
	border-radius: 10px;
	box-shadow: 12px 12px 5px #252424;
}
.upper_box
{
	/*display: flex;*/
	margin: auto;
	width: 1200px;
	height: 130px;
}
