/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   menu.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: nsabbah <nsabbah@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2017/04/03 20:22:13 by nsabbah           #+#    #+#             */
/*   Updated: 2017/04/04 20:08:36 by nsabbah          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
  font-family: "Campton";
  src: url("http://cdn.shopify.com/s/files/1/0249/9003/t/7/assets/campton-black.woff2") format("woff2"), url("http://cdn.shopify.com/s/files/1/0249/9003/t/7/assets/campton-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

#wrapper {
	width: 100px;
	margin: auto;
}

.dropbtn {
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: white;
	width: 200px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Campton", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

a:hover {
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: relative;
    left: -50px;
	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
